<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-custom">
  <a class="navbar-brand" href="#">
            <img src="assets/logo.png" width="32" height="36" alt=""> <span style="color: #22b8c7">Sécu'route</span>
            
           
      </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="preventions.html">Préventions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="urgences.html">Appeler les urgences ?</a>
    </li>
  </ul>

  <form class="form-inline my-2 my-lg-0">
    <button class="btn mr-sm-2 my-sm-0 btn-space" type="sumbit" routerLink="signup">Inscription</button>
    <button class="btn btn-outline-success my-2 my-sm-0 btn-space" type="submit" routerLink="signin">Connexion</button>
  </form>


</nav>

<router-outlet></router-outlet>
