<div class="container">

  <div class="row">
    <div class="col">
      <form ngNativeValidate #form="ngForm" (ngSubmit)="createUser(form.value)">
        <div class="form-group">
          <label for="emailInput">Adresse email</label>
          <input type="email" class="form-control" name="email" id="emailInput" placeholder="Entrer votre adresse email" ngModel required>
        </div>
        <div class="form-group">
          <label for="prenomInput">Prénom</label>
          <input type="text" class="form-control" name="prenom" id="prenomInput" placeholder="Entrer votre prénom" ngModel required>
        </div>
        <div class="form-group">
          <label for="nomInput">Nom</label>
          <input type="text" class="form-control" name="nom" id="nomInput" placeholder="Entrer votre nom" ngModel required>
        </div>
        <div class="form-group">
          <label for="pwdInput">Mot de passe</label>
          <input type="password" class="form-control" name="password" id="pwdInput" placeholder="Entrer un mot de passe" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
  </div>

</div>


<div>
  <div class="secours">
    <h3> Besoin d'urgences ? </h3>
    <div style="padding: 0 50px; text-align: center;">

      <img src="assets/car-accident.png" width="120" height="120" alt=""> Appeler le <a style="display: inline-block; font-size: 1.8rem;" href="tel:+112">112</a>
    </div>

  </div>
</div>
