/* You can add global styles to this file, and also import other style files */
.navbar-custom {
     background-color: transparent;
}

.hero {
    background: linear-gradient(190deg, #22b8c7, #061a25);
    background-size: 400% 400%;
    height: 80vh;
    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

.hero .container {
    color: #fff;
}

.btn-space {
    margin: 0 5px;
}

.navbar-brand {
    font-weight: bold;
}
#navbarNav ul a {
    color: red;
}

.met_traf h1,.met_traf h2,.met_traf h3,.met_traf h4,.met_traf h5 {
    color: #aeb0b2;
}

.met_traf {
    padding: 50px;
}


.lead {
    color: #aeb0b2;
}

.secours {
    background-color: #c61737;
    color: #fff;
    padding: 30px 70px;
}






/*
    KEYFRAMES
*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@keyframes AnimationName { 
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}