<div class="jumbotron jumbotron-fluid hero">
  <div class="container">
    <h1 class="display-3">Soyez
      <span class="typer" id="main" data-words="prudents, attentifs, pas cons, pas énervés" data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
      <span class="cursor" data-owner="main"></span>
    </h1>
    <p>et vous sauverez votre vie, et la vie des autres.</p>
    <p class="lead"> </p>
  </div>
</div>

<div>
  <div class="container met_traf">

    <div style="text-align: center;margin-bottom: 50px;">
      <i>" 10 km/h en moins sur le compteur de vitesse, c'est déjà pas mal. " - Socrate </i>

    </div>
    <div style="text-align: center; margin-bottom: 50px; ">

      <i> " Même nos fusées sont plus sûres que vous au volant si vous ne faîtes pas attention " - Elon Musk </i>
    </div>

    <div class="row">
      <div class="col">
        <h3> Météo </h3>
      </div>
      <div class="col">
        <h3> Traffic </h3>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="secours">
    <h3> Besoin d'urgences ? </h3>
    <div style="padding: 0 50px; text-align: center;">

      <img src="assets/car-accident.png" width="120" height="120" alt=""> Appeler le <a style="display: inline-block; font-size: 1.8rem;" href="tel:+112">112</a>
    </div>

  </div>
</div>
